* {
    box-sizing: border-box;
}

:root {
    --primary-btn-color: #FFB900;
    --font-heading: Sen, sans-serif;
}

html
,body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* ====== Common ======= */
.heading {
    font-family: var(--font-heading);
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17241;
    letter-spacing: -1.16px;
}

.heading.lv2 {  
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.76px;
    font-weight: 700;
}

.heading.lv3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.desc {
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    border-radius: 999px;
    background: #171100;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 6px;
    cursor: pointer;
    background: var(--primary-btn-color);
}

/* ====== Header ======= */

.header {
    background: #FFFCF4;
}

.top-header {
    position: sticky;
    top: -28px;
    z-index: 1;
}

header .body {
    display: flex; 
    align-items: center;
    padding: 36px 0 8px;
}

header .navbar {
    margin-left: auto;
}

header .navbar ul{
    display: flex;
    gap: 42px;
}

header .navbar ul a {
    color: #5F5B53;
    position: relative;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

header .navbar a:hover,
header .navbar li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

header .navbar li.active a::after {
    content : "";
    position: absolute;
    bottom: -2px;
    display: block;
    width: 12px;
    height: 2px;
    width: 12px;
    border-radius: 1px;
    background: #171100;
}

header .header-btn {
    min-width: 144px;
}

header .action {
    margin-left: 70px;
}

/* ====== Hero ======= */
.hero {
    background: #FFFCF4;
    padding: 56px 0 65px;
}

.hero-body {
    display: flex;
    justify-content: space-between;
}

/* Hero left */
.hero .block-img {
    position: relative;
    width: 48%;
}

.hero .hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    padding: 24px;
    width: 270px;
    bottom: 48px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-content {
    display: flex;
    align-items: center;
}

.hero .hero-content + .hero-content {
    margin-top: 22px;
}


.hero .icon {
    height: 48px;
    width: 48px;
    background: #FFF9E8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-content:nth-of-type(2) .icon {
    background: #FCEFFF;
}

.hero .hero-content:nth-of-type(3) .icon {
    background: #EBEAFF;
}

.hero .info {
    margin-left: 16px;
}

.hero .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; 
}

/* Hero right */
.hero .block-content {
    position: relative;
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .block-content .hero-btn {
    min-width: 180px;
    line-height: 64px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 32px;
    background: var(--primary-btn-color)
}

.hero .block-content .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0px 48px;
}

.hero .block-content .watch-video {
  display: flex;
  align-items: center;
  border: none;
  margin-left: 28px;
}

.hero .block-content .content-icon {
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.hero .block-content .act {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
    margin-left: 14px;  
}

.hero .hero-desc {
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .block-content .desc.stats {
    margin-top: 8px;
    margin-left: -28px;
}

.hero .block-content .desc.stats strong{
    padding: 0 8px 0 28px;
    color: #171100;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}


/* ====== Popular ======= */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}
.popular .top-popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .popular-desc{
    width: 458px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 16px;
}
.popular .controls {
    display: flex;
}
.popular .chevron {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1.5px solid var(--primary-btn-color);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popular .chevron:nth-child(2) {
    background: var(--primary-btn-color);
    margin-left: 20px;
}

/* ====== Bot-Popular ======= */
.popular .bot-popular {
    padding: 55px 0 65px;
    display: flex;
}

.popular .courses-block {
    width: 33%;
    margin-left: 30px;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
}

.popular .courses-block:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);

}
.popular .thumb {
    height: 278px;
    width: calc(100% + 2px);
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin: -1px;
}


.popular .courses-block:first-child {
    margin-left: 0px;
}

.popular .block-content {
    padding: 16px 22px 22px;
}

.popular .intro,
.popular .icon,
.popular .bot-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular h3 a, 
.popular strong {
    font-family: Poppins;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular h3 a {
    padding: 6px;
}

.popular .icon span {
    color: var(--primary-btn-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-left: 6px;
}

.popular .desc.bot-desc {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
    margin-top: 6px;
}

.popular .bot-info {
    margin-top: 12px;
}

.popular .popular-btn span {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    line-height: 1.86;
}

.popular .popular-btn:hover {
    background: var(--primary-btn-color);
}


/* ====== Feedback ======= */
.feedback {
    background: #2E2100;
    margin-top: 135px;
    padding: 96px 0;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}

.feedback .avatar{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .name {
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
    margin-top: 18px;
}

.feedback .client-desc {
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    margin-top: 4px;
}

.feedback .dots {
    display: flex;
    margin-top: 26px;
}

.feedback .dots .dot {
    background: #634700;
}

.feedback .dots .dot.active {
    background: var(--primary-btn-color);
    cursor: default;
}

.feedback .content {
    width: 66%;
}

.feedback .content blockquote {
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
    margin-left: 30px;
}

/* ====== Featured 1 ======= */
.featured {
    margin-top: 135px;
    padding: 65px 0;
}

.feature-items {
    display: flex;
    gap: 130px;
}

.featured .img-block {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    gap: 0 30px;
    padding-top: 34px;
}

.featured .featured-thumb {
    height: 405px;
    width: 270px;
    border-radius: 16px;
    object-fit: cover;
}

.featured .featured-thumb:nth-child(2) {
    margin-top: -34px;
}

.featured .content-block {
    margin: auto 0;
    width: 41%;
}

.featured .content-block .desc {
    margin-top: 16px;
}

.featured .content-block .btn {
    min-width: 137px;
    margin-top: 32px;
    border-radius: 26px;
    background: var(--primary-btn-color)
}

.featured .content-block .btn a {
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.75;
}

/* ====== Featured 2 ======= */
.feature-list {
    margin-top: 200px;
}

.feature-list .img-block.second {
    padding-top: 0;
}

.feature-list .featured-thumb {
    width: 470px;
    height: 440px;
}

.feature-list .content-block.second {
    width: 49%;
}

/* ====== Blog ======= */
.blog {
    margin-top: 200px;
    background: #FFFCF4;
    padding: 96px 0;
}

.blog .intro {
    text-align: center;
}

.blog .desc {
    margin: 16px auto 0;
    max-width: 448px;
}

.blog .blog-block {
    display: flex;
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.blog .blog-items {
    flex-shrink: 0;
    width: calc(33.33% - 20px);
    gap: 30px;
    border-radius: 16px;
    background: #FFF;
    margin-left: 30px;
}

.blog .blog-items:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .blog-items:first-child {
    margin-left: 0;
}

.blog .blog-items img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
    margin-right: -1px;
}

.blog .content-block {
    padding: 20px 20px 28px;
}

.blog .info {
    display: flex;
    align-items: center;
}

.blog .dot {
    margin-right: 4px;
}

.blog .date {
    color: #5F5B53;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.blog .line {
    width: calc(330px -27px);
    border: 1px solid #E2DFDA;
    margin: 12px 0;
    border-radius: 0.5px;
}

.blog .heading.lv3 a {
    display: inline-block;
    color: #171100;
    margin-bottom: 12px;
}

.blog .btn:hover {
    background: var(--primary-btn-color);
    cursor: pointer;
}

.blog .btn span {
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.86;
}

.blog .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}

.blog .dots .dot {
    background: #5F5B53;
}

.blog .dots .dot.active {
    background: var(--primary-btn-color);
    cursor: default;
}

/* ====== Footer ======= */
.footer {
    padding: 96px 135px 28px;
    background: #2E2100;
}

.footer .contact-block {
    display: flex;
    justify-content: space-between;
}

.footer .intro {
    max-width: 267px;
}

.footer .intro .desc {
    margin: 18px 0;
}

.footer .intro .desc,
.footer .address li,
.footer .end-desc {
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer .social-icons + .social-icons {
    margin-left: 18px;
}


.footer .address {
    display: flex;
}

.footer .info-block {
    max-width: 231px;
    margin-left: 130px;
}

.footer .heading.lv3 li a {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer .info-block .line {
    border: 1px solid #59554B;
    min-width: 130px;
    margin-top: 14px;
    margin-bottom: 16px;
}

.footer .info-block:nth-child(3) .line {
    max-width: 130px;
}

.footer .address li {
    margin-top: 12px;
}

.footer .address span {
    color: #FFF;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.footer .end-line {
    margin: 38px 0 28px;
    border: 1px solid #59554B;
}

.footer .end-desc {
    text-align: center;
    color: #807D74;
}

