* {
    box-sizing: border-box;
}

:root {
    --primary-btn-color: #FFB900;
    --font-heading: Sen, sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* ====== Common ======= */
.heading {
    font-family: var(--font-heading);
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17241;
    letter-spacing: -1.16px;
}

.heading.lv2 {  
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.desc {
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0px 16px;
    line-height: 50px;
    border-radius: 999px;
    background: #171100;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* ====== Header ======= */

.header {
    background: #FFFCF4;
}

.top-header {
    position: sticky;
    top: -28px;
    z-index: 1;
}

header .body {
    display: flex; 
    align-items: center;
    padding: 36px 0 8px;
}

header .navbar {
    margin-left: auto;
}

header .navbar ul{
    display: flex;
    gap: 42px;
}

header .navbar ul a {
    color: #5F5B53;
    position: relative;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

header .navbar a:hover,
header .navbar li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

header .navbar li.active a::after {
    content : "";
    position: absolute;
    bottom: -2px;
    display: block;
    width: 12px;
    height: 2px;
    width: 12px;
    border-radius: 1px;
    background: #171100;
}

header .header-btn {
    min-width: 144px;
}

header .action {
    margin-left: 70px;
}

/* ====== Hero ======= */
.hero {
    background: #FFFCF4;
    padding: 56px 0 65px;
}

.hero-body {
    display: flex;
    justify-content: space-between;
}

/* Hero left */
.hero .block-img {
    position: relative;
    width: 48%;
}

.hero .hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    padding: 24px;
    width: 270px;
    bottom: 48px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-content {
    display: flex;
    align-items: center;
}

.hero .hero-content + .hero-content {
    margin-top: 22px;
}


.hero .icon {
    height: 48px;
    width: 48px;
    background: #FFF9E8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-content:nth-of-type(2) .icon {
    background: #FCEFFF;
}

.hero .hero-content:nth-of-type(3) .icon {
    background: #EBEAFF;
}

.hero .info {
    margin-left: 16px;
}

.hero .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667; 
}

/* Hero right */
.hero .block-content {
    position: relative;
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .block-content .hero-btn {
    min-width: 180px;
    line-height: 64px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 32px;
    background: var(--primary-btn-color)
}

.hero .block-content .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0px 48px;
}

.hero .block-content .watch-video {
  display: flex;
  align-items: center;
  border: none;
  margin-left: 28px;
}

.hero .block-content .content-icon {
    height: 40px;
    width: 40px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.hero .block-content .act {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66667;
    margin-left: 14px;  
}

.hero .hero-desc {
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero .block-content .desc.stats {
    margin-top: 8px;
    margin-left: -28px;
}

.hero .block-content .desc.stats strong{
    padding: 0 8px 0 28px;
    color: #171100;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}


/* ====== Popular ======= */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}
.popular .top-popular {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .popular-desc{
    width: 458px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 16px;
}
.popular .controls {
    display: flex;
}
.popular .chevron {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1.5px solid var(--primary-btn-color);
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.popular .chevron:nth-child(2) {
    background: var(--primary-btn-color);
    margin-left: 20px;
}

/* ====== Bot-Popular ======= */
.popular .bot-popular {
    padding: 55px 0 65px;
    display: flex;
}

.popular .courses-block {
    margin-left: 30px;
    flex: 1;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
}

.popular .courses-block:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);

}
.popular .thumb {
    height: 278px;
    width: calc(100% + 2px);
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin: -1px;
}


.popular .courses-block:first-child {
    margin-left: 0px;
}

.popular .block-content {
    padding: 16px 22px 22px;
}

.popular .intro,
.popular .icon,
.popular .bot-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular h3 a, 
.popular strong {
    font-family: Poppins;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.popular h3 a {
    padding: 6px;
}

.popular span {
    color: var(--primary-btn-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-left: 6px;
}

.popular .desc.bot-desc {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
    margin-top: 6px;
}

.popular .bot-info {
    margin-top: 12px;
}


.popular .popular-btn span {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.popular .popular-btn:hover {
    background: var(--primary-btn-color);
}

